.footer {
  min-height: 100px;
  background: #E5E5E5;
  position: fixed;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer span {
  position: absolute;
  bottom: 2rem;
  left: 0;
  right: 0;
  padding: 3px;
  background: rgb(252, 181, 214);
}